.services .items {
  margin: 20px;
  padding: 20px;
  border: 1px solid #004AAD;
  border-radius: 8px;
  text-align: center;
  background-color: #004AAD;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  gap: 20px;
}

.services h3 {
  text-align: center;
  margin-bottom: 30px;
}

#consult{
  margin-top: 40px;
}
.services .items h4 {
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 10px;
}

.services .items p {
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 20px;
}

.services .items .outline-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ffffff;
  color: #004AAD;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.services .items .outline-btn:hover {
  background-color: #fcfcfc;
}

.services .items .description {
  text-align: justify;
  margin-bottom: 15px;
}

.services .items .description ul {
  list-style-type: disc;
  padding-left: 10px; 
}

.services .items .description li {
  color: rgb(255, 255, 255);
  font-size: 16px;
}
.services .container {
  display: flex;
  justify-content: space-around; /* or 'space-between', 'space-evenly', etc. */
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  gap: 2px;
}
.services .description ul {
  list-style-type: none;
  padding: 0;
}

.services .description li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.services .description .bullet-icon {
  margin-right: 8px;
  color: #ffffff; /* Adjust the color as needed */
}
