/* events.css */

/* Styles for the entire layout */
.events-container {
  display: flex;
  flex-direction: column;
}

/* Bold and white text for "Event Calendar" */
.calendar-container h2 {
  color: rgb(14, 13, 13);
  font-weight: bold;
}

.upcoming-event-container h2 {
  margin-bottom: 30px;
}

/* Change the background color and text color for the calendar dates */
div.react-calendar__tile {
  background-color: #004AAD !important; /* Blue color for normal dates */
  color: rgb(15, 14, 14) !important; /* White text for normal dates */
}

/* Change the background color for Sundays and holidays */
div.react-calendar__tile--active,
div.react-calendar__tile--hasActive {
  background-color: #ff3b30 !important; /* Red color for Sundays and holidays */
}

/* Hover effect for all dates */
div.react-calendar__tile:hover {
  background-color: #004AAD !important; /* Blue color on hover */
  color: rgb(16, 14, 14) !important; /* White text on hover */
}

/* Hover effect for event dates */
div.react-calendar__tile--hasActive:hover {
  background-color: #004AAD !important; /* Blue color on hover for event dates */
  color: rgb(9, 8, 8) !important; /* White text on hover for event dates */
}

/* Change the color for the month */
div.react-calendar__navigation__label {
  color: rgb(15, 14, 14) !important;
}

/* Change the color for days of the week */
div.react-calendar__month-view__weekdays__weekday {
  color: rgb(15, 14, 14) !important;
}

/* Styles for the calendar section */
.calendar-section {
  display: flex;
}

.calendar-container {
  flex: 1; /* Take up the entire left side */
  margin-right: 30px; /* Add some spacing between calendar and upcoming event */
  margin-left: 60px;
}

/* Styles for the upcoming event section */
.upcoming-event-section {
  display: flex;
  justify-content: space-between;
}

.upcoming-event-container {
  flex: 1; /* Take up the entire right side */
  max-height: 50%; /* Set the maximum height to 50% of the container */
}

.upcoming-event-container img {
  max-width: 80%; /* Ensure the image does not exceed its container width */
  height: auto; /* Maintain aspect ratio */
}

/* slider */

.events-section {
  margin-top: 20px;
  padding: 20px;
}

.E-carousel-container {
  max-width: 100%;
  margin: 0 auto;
}

.E-carousel-item-padding-40-px {
  padding: 40px;
}

.E-slide{
  position: relative;
}

.E-slide img {
  width: 100%; /* Set the width to 100% for responsiveness */
  height: 600px; /* Set the desired height for all images */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}

.E-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  text-align: center;
}



/* Adjust styles for smaller screens */
@media screen and (max-width: 768px) {
  .events-container,
  .calendar-container,
  .upcoming-event-container,
  .slider-container {
    flex: 1 0 100%;
    max-width: 100%;
  }

  .calendar-container {
    margin-right: 0; /* Remove margin for smaller screens */
    margin-left: 0; /* Remove left margin for smaller screens */
  }

  .slider-buttons {
    top: 5px; /* Adjust the distance from the top for smaller screens */
  }

  .E-slide-caption {
    bottom: 5px; /* Adjust the distance from the bottom for smaller screens */
  }
}
