/*--------head------------*/



.head {
  padding: 20px 0;
  color: #fff;
}

#vtm_hlogo {
  margin-top: -0.3rem;
  margin-left: -8rem;
  width: 100%;
  height: 100%;
  display: block;
}

#social {
  margin-right: -6rem;
}

.head .icon {
  margin-left: 10px;
}
/*--------head------------*/

/*--------header------------*/

#navbg{
  background-color:rgb(217, 230, 246);
  z-index: 1;
}


/* header {
  background-color: rgba(202, 46, 46, 0.2);
  margin: 0 20px;
  margin-top: 2px;
  margin-bottom: 5px;
  margin-left: 5px;
} */



#navbarNav {
  margin-right: auto;
}

.navbar-nav .nav-link {
  margin-left: 24px;
}

#flex {
  max-height: 100px;
  padding-top: 10px;
}

.navbar-nav li {
  margin-left: 30px;
}

.navbar-nav a {
  font-weight: bold;
  font-size: large;
  transition: color 0.3s;
}

.navbar-nav a:hover {
  color: #004AAD;
}

.start {
  background-color: #004AAD;
  padding: 30px 70px;
  color: #ffffff;
  clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0% 100%);
  margin-left: auto; 
}
.Gc_button{
  color: #fff;
  font-size: 18px;
}

.toggle {
  display: none;
}
/*--------header------------*/

@media screen and (max-width: 768px) {
  .start {
    clip-path: none;
  }
  header {
    margin: 0;
    background-color: #004AAD;
    position: relative;
  }
  .navbar-nav.flexSB {
    display: none; /* You may need to define .flexSB if it's intended to be used here */
  }
  .navbar-nav li {
    margin-bottom: 20px;
  }
  .toggle {
    display: block;
    background: none;
    color: #fff;
    font-size: 30px;
    position: absolute;
    right: 0;
    top: -20px;
  }
  .mobile-nav {
    position: absolute;
    top: 7vh;
    left: 0;
    width: 100%;
    background-color: #004AAD;
  }
}

#navbar-item .nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  background-color: #004AAD;
  border: none;
}

.dropdown-item {
  color: #fff;
  transition: 0.3s;
}

.dropdown-item:hover {
  background-color: #ffffff;
  color: #004AAD;
}
