/* header.css */

/*--------head------------*/

.head {
  padding: 20px 0;
  color: #fff;
}

#h-social {
  margin-right: -6rem;
}


.head .icon {
  margin-left: 10px;
  font-size: 24px; /* Increase font size for social icons */
}

/*--------header------------*/

#navbg {
  background-color: rgb(217, 230, 246);
  z-index: 1;
}

.navbar-brand img {
  margin-top: -0.3rem;
  margin-left: 2rem; /* Adjust margin for logo */
  width: auto; /* Ensure logo size adjusts appropriately */
  height: 50px; /* Set a fixed height for the logo */
}

.navbar-toggler {
  margin-right: 1rem; /* Adjust margin for toggler */
}

.navbar-nav .nav-link {
  margin-left: 24px;
  font-size: 16px; /* Default font size */
}

.start {
  background-color: #004aad;
  padding: 10px 20px; /* Adjust padding for start button */
  color: #ffffff;
  margin-left: auto;
  clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0% 100%);
  margin-right: 60px;
}

.Gc_button {
  color: #fff;
  font-size: 18px;
}

.toggle {
  display: none;
}
/*--------header------------*/

@media screen and (max-width: 768px) {
  .start {
    clip-path: none;
    padding: 10px 15px; /* Adjust padding for start button */
  }
  
  .navbar-nav .nav-link {
    font-size: 18px; /* Increase font size for navigation links */
  }
}

/* Extra Large Devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .start {
    clip-path: none;
    padding: 10px 20px; /* Adjust padding for start button */
  }
}
