.hero {
  background-image: url("./bg.svg");
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 120vh;
  padding-top: 20%;
  padding-right: 50px;
  color: #004AAD;
}
.hero .button {
  margin-top: 20px; /* Adjust the margin to change the vertical position */
}

.hero .get-started-btn, .hero .view-course-btn {
  background-color: #004AAD; /* Change the background color */
  color: #ffffff; /* Change the text color */
  border: 2px solid #004AAD; /* Add a border with your desired color */
  transition: background-color 0.3s, color 0.3s; /* Add a smooth transition effect */

  /* Additional styles if needed */
  padding: 10px 20px;
  border-radius: 5px;
}

.hero .get-started-btn:hover, .hero .view-course-btn:hover {
  background-color: #004AAD; /* Change the background color on hover */
  color: #fff; /* Change the text color on hover */
}

.hero #heading h3 {
  color: #004AAD;
}
.hero #heading {
  text-align: left;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 768px) {
  .margin {
    height: 40vh;
  }
  .hero {
    background-position: right;
    padding-top: 50%;
    height: 80vh;
  }
  .hero .row {
    width: 100%;
  }
}
