.hero_container {
  position: relative;
  padding-left: 50px;
  text-align: left;
  z-index: 1;
  background-image: url("./bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 90vh;
  width: 100%;
  background-attachment: fixed;
  padding-top: 5%;
margin-bottom: -30rem;
  padding-right: 50px;
}

#hero_heading h3 {
  color: #004AAD;
  margin-top: 20px;
  text-align: left;
}

#heading {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  text-align: left;
}

.hero-text {
  margin-bottom: 30px; /* Adjusted margin for better spacing */
  text-align: left;
  margin-top: 20px;
}

.hero_button {
  margin-top: 20px; /* Adjusted margin for better spacing */
  cursor: pointer;
}

.get-started-btn,
.view-course-btn {
  background-color: #004AAD;
  color: #ffffff;
  border: 2px solid #004AAD;
  transition: background-color 0.3s, color 0.3s;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  text-align: left;
  margin-right: 50px;
}

.get-started-btn:hover,
.view-course-btn:hover {
  background-color: #ffffff;
  color: #004AAD;
}
