/* about.css */

.about-container {
  padding: 20px; /* Add padding for spacing */
}

h1 {
  margin-bottom: 15px; /* Adjust the margin at the bottom of the h1 element */
}

.about-overview-box,
.specialties-box {
  border: 4px solid #004AAD; /* Add a border */
  padding: 25px; /* Add padding inside the box */
  margin-top: 20px; /* Adjust margin at the top for spacing */
  margin-bottom: 20px; /* Add margin at the bottom for spacing */
  text-align: justify; /* Center the text within the box */
  /* background-color: #b2afe3; */
  border-radius: 8px; /* Add rounded corners */
  box-shadow: 0 10 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}
.about-overview-box p{
  color:#0c0c0c ;
}
.specialties-box h2 {
  font-size: 1.5rem; /* Adjust the font size of the heading */
  margin-bottom: 20px; /* Add margin at the bottom of the heading */
  color: #0c0c0c;
}

.specialties-cards {
  display: flex;
  flex-wrap: wrap;
}

.specialty-card {
  background-color: #fff;
  border: 4px solid #dbdbe0;
  border-radius: 8px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.specialty-card:hover {
  background-color: #004AAD;
  color: white;
}

/* Additional styling for AboutCard */
.about-card {
  margin-top: 20px; /* Add margin at the top of the AboutCard */
}



.aboutHome {
  height: auto;
}
.aboutHome #heading {
  text-align: left;
  padding: 0;
}
.aboutHome .left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.aboutHome .right {
  padding: 80px 50px;
}
.aboutHome .items {
  margin-top: 50px;
}
.aboutHome .item {
  background-color: #fff;
  margin-top: 30px;
  padding: 20px;
  transition: 0.5s;
}
.aboutHome .img {
  width: 200px;
}
.aboutHome img {
  width: 70px;
  height: 70px;
}
.aboutHome .item h2 {
  font-size: 20px;
  margin-bottom: 15px;
}
.aboutHome .item p {
  color: #999999;
}
.aboutHome .item:hover {
  background-color: #004AAD;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 5px 25px -2px rgb(0 0 0 / 6%);
}
.aboutHome .item:hover p {
  color: #fff;
}
/*----------awrapper------------*/
.awrapper {
  background-image: url("/public/images/awrapper.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 30vh;
  color: #fff;
}
.awrapper .box {
  padding: 70px 0;
}
.awrapper img {
  margin-right: 30px;
}
.awrapper h1 {
  font-size: 50px;
}
.awrapper h3 {
  font-size: 20px;
  font-weight: 500;
}
/*----------awrapper------------*/
@media screen and (max-width: 768px) {
  .aboutHome .container {
    flex-direction: column-reverse;
  }
  .aboutHome .row {
    width: 100%;
  }
  .awrapper {
    height: 50vh;
  }
}

#learn_anything{
  color: #004AAD;
  font-weight: 500;
  font-size: 1.3rem;
}