/* courses.css */

/* Add your global styles here */

.course-section {
  text-align: center;
  padding: 20px;
}

.courses-container {
  display: flex;
  justify-content: space-around;
  align-items: center; /* Center vertically */
  flex-wrap: wrap;
}

.course-card {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 20px;
  max-width: 300px;
  text-align: left;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center horizontally */
}

.course-card:hover {
  transform: scale(1.05);
}

.course-icon {
  font-size: 40px;
  margin-bottom: 10px;
}

.course-details {
  text-align: center;
}

.know-more-button {
  background-color: #004AAD;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.know-more-button:hover {
  background-color: #00284a; /* Darker blue color on hover */
}
