.online-courses {
  text-align: center;
}

.courses-heading {
  margin-bottom: 40px;
  margin-top: 50px;
  font-size: 44px;
}

.courses-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px; /* Set the maximum width as needed */
  margin: 0 auto; /* Center the container */
  margin-bottom: 30px;
}

.course-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 450px; /* Adjust the height as needed */
  width: 350px; /* Adjust the width as needed */
  margin: 10px;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  padding: 10px;
  position: relative;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.content-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon-container {
  margin-bottom: 10px;
}

h3,
p {
  text-align: center;
  margin: 5px 0;
}

button.know-more-button {
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}