/* Updated gallery.css */

.gallery {
  max-width: 80vw; /* Adjust the max-width as needed */
  margin: 20px auto;
  height: 60vh; /* Adjust the height as needed */
}

.gallery-carousel {
  max-height: 100%; /* Ensure the carousel takes the full height of the gallery */
}

.carousel img {
  width: auto; /* Allow images to adjust their width */
  height: 100%; /* Ensure images take the full height of the carousel */
  object-fit: cover;
}

/* Add any additional styles as needed */
