

.testimonial-section {
  margin-top: 20px;
  padding: 20px;
}

.T-carousel-container {
  max-width: 100%;
  margin: 0 auto;
}

.T-carousel-item-padding-40-px {
  padding: 40px;
}

.T-slide{
  position: relative;
}

.T-slide img {
  width: 100%; /* Set the width to 100% for responsiveness */
  height: 500px; /* Set the desired height for all images */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}

.T-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* Add your existing styles if you have any */
