/* testimonials.css */

.testimonials-section {
  margin-top: 50px; /* Adjust the margin between navbar and testimonials */

}
.testimonials-section h2{
  justify-content: center;
}
.carousel {
  width: 100%; /* Set the width of the carousel to 50% */
  margin: 20px auto; /* Add margin around the carousel */
}

.carousel-item {
  
  justify-content: space-between;
  align-items: center;
  padding: 20px; 
}

.testimonial-content {
  max-width: 50%; /* Set the maximum width for the testimonial content */
}

.testimonial-screenshot img {
  width: 100%; /* Make the screenshot image fill its container */
  border-radius: 10px; /* Add border-radius for a rounded look */
  margin-bottom: 15px; /* Add margin to separate image from content */
}

/* .team .items {
  transition: 0.5s;
}
.team .img {
  position: relative;
}
.team img {
  width: 100%;
  height: 100%;
}
.overlay {
  position: absolute;
  bottom: 0;
  z-index: 11;
  display: flex;
  flex-direction: column;
  padding: 20px;
  opacity: 0;
  transition: 0.5s;
}
.overlay i {
  background-color: #000;
  color: #fff;
  margin: 5px;
  transition: 0.5s;
}
.team .details {
  padding: 30px;
  text-align: center;
}
.team .details h2 {
  font-weight: 500;
  font-size: 20px;
  transition: 0.5s;
}
.team .details p {
  font-size: 15px;
  color: grey;
  margin-top: 10px;
  transition: 0.5s;
}
.team .items:hover {
  background-color: #027Dff;
  color: #fff;
  cursor: pointer;
}
.team .items:hover p {
  color: #fff;
}
.team .items:hover .overlay {
  opacity: 1;
}
.team .items:hover .overlay i:hover {
  background-color: #027Dff;
  color: #fff;
} */
