.bblog img {

  height: 200px;
}
.bblog{
  width: 100%;
  height:100%;
}

.bblog .text {
  padding: 40px 30px;
}
.bblog h1 {
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  margin: 20px 0;
  transition: 0.5s;
  text-align: left;
}
.bblog h1:hover {
  color: #027Dff;
  cursor: pointer;
}
.bblog span {
  text-transform: uppercase;
  font-weight: 500;
  color: #027Dff;
}
.bblog span label {
  margin-left: 10px;
  color: rgb(0, 0, 0);
  font-size: 14px;
}
.bblog span:nth-last-child(1) label {
  color: #027Dff;
}
.bblog p {
  color: rgb(0, 0, 0);
  text-align: justify;
}
