
#exp ul {
  list-style: none;
  padding: 0;
}

#exp li {
  margin-bottom: 10px;
}

#exp a {
  text-decoration: none; 
  display: inline-block; 
}
#quick a {
  text-decoration: none; 
  display: inline-block; 
}


#vtm_flogo{
  margin-top: 20px;
  margin-left: -90px;
  padding-bottom: 20px;
  max-width: 400px;
  max-height:300px ;
  display: flex;
}

footer {
  /* background-color: #eeeeee; */
  justify-content: center;
  height: 350px;
}

footer .container {
  display: grid;
  grid-template-columns: 4fr 9fr 9fr 3fr;
  grid-gap: 40px;
  justify-content: center;
}


@media screen and (max-width: 768px) {
  footer .container {
    grid-template-columns: repeat(2, 1fr);
  }
}


footer .logo .icon {
  background-color: hsl(214, 100%, 34%);
  color: white;
  margin-right: 10px;
}

footer h3 {
  margin-bottom: 40px;
  font-weight: 500;

}
#exp{
  justify-content:center;
  text-align: center;
}
#quick {
  justify-content: center;
  text-align: center;
}
#f_contact{
  justify-content: center;
  text-align: center;
}
#f-social{
  margin-left: -10px;
}

#exp #quick link:hover{
  color: #004AAD;
}
footer ul li {
  margin-bottom: 10px;
 
}
footer .link li::before {
  /* content: "⟶"; */
  color: #004AAD;
  /* margin-right: 15px; */
}
footer .items {
  margin-bottom: 30px;
  
}


footer .items span,
footer .items i {
  font-size: 12px;
  color: #004AAD;
  margin-right: 5px;
  text-transform: capitalize;
  
}
footer h4 {
  font-weight: 400;
  margin-top: 5px;
}
footer .last ul li {
  display: flex;
  margin-bottom: 20px;
}

footer .last i {
  width: 60px;
  font-size: 20px;
  color: #004AAD;

}
.legal {
  text-align: center;
  padding: 20px 0;
  color: grey;
  background-color: #e9e9e9;
}

.legal p {
  font-size: 20px;
  font-weight: bold;
}
.legal i {
  color: #004AAD;
}

#footer{
  background: #f7f7fa;
}
.social-media a {
   
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    
    text-decoration: none;
    border-radius: 50%;
    font-size: 1.5rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    /* transition: 0.5s ease; */
  }
.social-media a:hover {
   
  color: #F29727;
  /* box-shadow: 0 0 1rem #F29727; */
  }
  /* .links p:hover{
    color:#F29727;
  }

  .inside_text,link p{
    color:#6d6d6d;
    font-size: 1rem;
  } */
  .inside_text p:hover{
    color:#F29727;
    cursor: pointer
    
  }
  #logoo{
    width: 15%;
}
.colorful-hr{
    height: 3px;
    
    background-color: #DC823D;
   
    
  }
  
  .colorful-hr_four_color {
    height: 3px;
    background-image: linear-gradient(to right,#5dbdc6, #5dbdc6 25%, #fcd932 25%, #fcd932 50%, #f75835 50%, #f75835 75%, #255bda 75%, #255bda);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }